<div class="container">
  <%= form_for @volunteer, html: {class: 'form-horizontal'} do |f| %>
    <% if @volunteer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>
  
        <ul>
        <% @volunteer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <%= render 'fields', f: f %>
  
    <div class="row">
      <div class="actions col-sm-offset-2">
        <%= f.submit class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
