<div class="container">
  <h1>Volunteers</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th> Name </th>
        <th> Phone </th>
        <th> Email </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @volunteers.each do |volunteer| %>
        <tr>
          <td><%= volunteer.name %></td>
          <td><%= volunteer.phone %></td>
          <td><%= volunteer.email %></td>
          <td><%= link_to 'Show', volunteer %></td>
          <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
          <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '+ Add Volunteer', new_volunteer_path, class: "btn btn-default" %>
</div>

