.container
  %h1 Bikes n' Clients
  %br
  %h2 Bikes
  %br
  = link_to "Log Bikes", new_bike_path
  %br
  = link_to "View Bikes", bikes_path
  %br
  = link_to "View Bikes by Location", bikes_by_location_path
  %br
  = link_to "Print Sale Labels", print_select_bikes_path
  %br
  = link_to "List All Sale Bikes", sale_bikes_path
  %br
  = link_to "Export Bikes to CSV", bikes_path(format: "csv")
  %br
  %h2 Freecyclery
  %br
  = link_to "Add Freecyclery Clients", new_client_path
  %br
  = link_to "Freecyclery Clients", clients_path
  %br
  = link_to "Freecyclery Agencies", agencies_path
  %br
  = link_to "Print Client Receipts", print_select_clients_path
  %br
  = link_to "Freecyclery Closed Applications", closed_applications_path
  %br
  = link_to "Freecyclery Voided Applications", voided_applications_path
  %br
  = link_to "Available Bikes", available_bikes_path
  %h2 Reports
  %br
  = link_to "Bikes Sold Per Year", bikes_sold_per_year_path
  %br
  = link_to "Bikes Fixed Per Week", bikes_fixed_per_week_path
