.container
  %h1 Bike &amp; Client Tracker
  %br
  = link_to "View All Bikes", bikes_path
  %br
  = link_to "Freecyclery Clients", clients_path
  %br
  = link_to "Print Sale Bike Labels", print_select_bikes_path
  %br
  = link_to "Freecyclery Agencies", agencies_path
  %br
  = link_to "Freecyclery Bikes Ready for Pickup", freecyclery_pickup_bikes_path
