.container
  %h1 Bike &amp; Client Tracker
  %br
  %h2 Bikes
  %br
  = link_to "Log Bikes", new_bike_path
  %br
  = link_to "View Bikes", bikes_path
  %br
  = link_to "Print Sale Labels", print_select_bikes_path
  %br
  %h2 Freecyclery
  %br
  = link_to "Freecyclery Clients", clients_path
  %br
  = link_to "Freecyclery Agencies", agencies_path
  %br
  = link_to "Freecyclery Bikes Ready for Pickup", ready_for_pickup_path
  %br
  = link_to "Freecyclery Closed Applications", closed_applications_path
  %br
  = link_to "Available Bikes", available_bikes_path
  %h2 Reports
  %br
  = link_to "Bikes Sold Per Year", bikes_sold_per_year_path
