.container
  %h1 Bike &amp; Client Tracker
  %br
  %h2 Bikes
  %br
  = link_to "View All Bikes", bikes_path
  %br
  = link_to "Print Sale Bike Labels", print_select_bikes_path
  %br
  %h2 Freecyclery
  %br
  = link_to "Freecyclery Clients", clients_path
  %br
  = link_to "Freecyclery Agencies", agencies_path
  %br
  = link_to "Freecyclery Bikes Ready for Pickup", ready_for_pickup_path
  %br
  = link_to "Freecyclery Closed Applications", closed_applications_path 
  %br
  = link_to "Available Bikes", available_bikes_path
