- disabled ||= false
.form-horizontal
  .form-group
    = f.label "First Name", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :first_name, class: "form-control", disabled: disabled

  .form-group
    = f.label "Last Name", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :last_name, class: "form-control", disabled: disabled

  .form-group
    = f.label "Gender", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :gender, class: "form-control", disabled: disabled

  .form-group
    = f.label "Age", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :age, class: "form-control", disabled: disabled

  .form-group
    = f.label "Application Date:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :application_date, class: "form-control datepicker", disabled: disabled

  .form-group
    = f.label "Type of Bike Requested:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :bike_type_requested, [["BMX", "BMX"], ["Cruiser", "Cruiser"], ["Hybrid", "Hybrid"], ["Kids", "Kids"], ["Mountain", "Mountain"], ["Road", "Road"], ["Touring", "Touring"], ["Track", "Track"], ["Utility", "Utility"], ["Youth", "Youth"]], {include_blank: "No Preference"}, class: "selectpicker", disabled: disabled

  .form-group
    = f.label "Will Pay 25$ for Lock & Helmet:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :will_pay, disabled: disabled

  .form-group
    = f.label "Helmet", class: "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :helmet, disabled: disabled

  .form-group
    = f.label "Lock", class: "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :lock, disabled: disabled

  .form-group
    = f.label "Completion Date:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :completion_date, class: "form-control datepicker", disabled: disabled

  .form-group
    = f.label "Bike:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :bike_id, options_for_select( Bike.available_for_freecyclery.collect{|b| [ b.name, b.id ]}, @client.bike_id ), {include_blank: 'None'}, class: "selectpicker"

  .form-group
    = f.label "Agency:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :agency_id, Agency.all.collect {|b| [ b.agency_name, b.id ] }, {include_blank: 'None'}, class: "selectpicker"

  .form-group
    = f.label "Notes:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :notes, class: "form-control", disabled: disabled

  .form-group
    = f.label "Bike Fixed:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :bike_fixed, disabled: disabled

  .form-group
    = f.label "Number of Calls Made:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :number_of_calls, class: "form-control", disabled: disabled

  .form-group
    = f.label "Application Voided:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :application_voided, disabled: disabled

  .form-group
    = f.label "Bike Picked Up On:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :pickup_date, class: "form-control datepicker", disabled: disabled

  .form-group
    = f.label "Volunteer Present at Pickup:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :volunteer_at_pickup, class: "form-control", disabled: disabled



