- disabled ||= false 
.form-horizontal
  .form-group
    = f.label "Log Number", class: "col-sm-2 control-label" 
    .col-sm-10
      = f.text_field :log_number, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Bike Entry Date:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :entry_date, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Brand:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :brand, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Color:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :color, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Top Tube Size:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :top_tube_size, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Seat Tube Size:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :seat_tube_size, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Model:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :model, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Type:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :bike_type, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Purpose:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :purpose, [["Freecyclery", "Freecyclery"], ["Sale", "Sale"]], class: "selectpicker", disabled: disabled
  
  .form-group
    = f.label "Serial Number", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :serial_number, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Notes", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :notes, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Tag Info", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :tag_info, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Mechanic:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :mechanic, class: "form-control", disabled: disabled
  
  .form-group
    = f.label "Completion Date:", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :completion_date, class: "form-control datepicker", disabled: disabled
  
  .form-group
    = f.label "Price", class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :price, class: "form-control", disabled: disabled
