<%= form_for(@bike) do |f| %>
  <% if @bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% @bike.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "Bike Entry Date:" %>
  <%= f.text_field :entry_date %>
  <br>
  <%= f.label "Brand:" %>
  <%= f.text_field :brand %>
  <br>
  <%= f.label "Type:" %>
  <%= f.text_field :type %>
  <br>
  <%= f.label "Freecyclery?" %>
  <%= f.check_box :freecyclery %>
  <br>
  <%= f.label "Sale?" %>
  <%= f.check_box :sale %>
  <br>
  <%= f.label "Serial Number" %>
  <%= f.text_field :serial_number %>
  <br>
  <%= f.label "Notes" %>
  <%= f.text_area :notes %>
  <br>
  <%= f.label "Tag Info" %>
  <%= f.text_area :tag_info %>
  <br>
  <%= f.label "Repaired by:" %>
  <%= f.text_field :repaired_by %>
  <br>
  <%= f.label "Completion Date:" %>
  <%= f.text_field :completion_date %>
  <br>
  <%= f.label "Price" %>
  <%= f.text_field :price %>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
