<div class="container">
  <p id="notice"><%= notice %></p>
  <%= form_for(@bike) do |f| %>
    <%= render 'fields', f: f, disabled: true %>
  <% end %>
  
  <%= link_to 'Edit', edit_bike_path(@bike) %> |
  <%= link_to 'Back', bikes_path %>
</div>
