<div class="container">
  <h2>sign in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.label "email" %>
      <br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div>
      <%= f.label "password" %>
      <br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div>
      <br />
      <%= f.submit "sign in", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
