<nav class="navbar navbar-default">
  <div class='navbar-header'>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Recyclery Bikes n' Clients", root_path, :class=>"navbar-brand" %>
  </div>

  <div class="navbar-collapse collapse navbar-responsive-collapse" id='collapse-1'>
    <ul class="nav navbar-nav navbar-right">
      <li class="bike-search">
        <%= form_tag(search_bikes_path, method: "get", class: "form-inline") do %>
          <%= text_field_tag :log_number, "", class: "form-control", placeholder: "(log number)" %>
          <%= submit_tag("Search", class: "btn btn-default") %>
        <% end %>
      </li>
      <li>
        <%= if current_user
              link_to "Sign Out", destroy_user_session_path, method: :delete
            else
              link_to "Sign In", new_user_session_path
        end %>
      </li>
    </ul>
  </div>
</nav>
