<!DOCTYPE html>
<html lang="en">
<%= render "layouts/head" %>
<body>
  <%= render "layouts/navbar" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
